<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Character Finder</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <header>
    <p>I'm a header</p>
    </header>    
    <p>I will be on every page of the site</p>
        {{{body}}}
    <footer>I'm a footer</footer>
</body>
</html>